#slidingPopup {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 9999;
    animation: bannerScroll 1s ease;
    color: white;
    width: 400px;
}
#slidingPopup button {
    all: unset;
    text-align: right;
    cursor: pointer;
    width: 50px;
    align-self: flex-end;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a8a8a8;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: gray;
}

#signInForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}

#signInForm input {
    all: unset;
    border: 2px solid rgba(0,0,0, .2);
    background-color: rgba(255,255,255,.4);
    color: rgba(255,255,255, .8);
    border-radius: 10px;
    font-size: 20px;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signInForm input::placeholder {
    color: rgba(255,255,255, .4);
}

#formHeader {
    display: flex;
    justify-content: space-between;
}

.top-button {
    all: unset;
    cursor: pointer;
    color: rgba(255,255,255, .8);
}

.form-submit-btn {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: rgba(255,255,255, .9);
}

.error-text {
    color: rgba(255, 0, 0, .8);
    margin-bottom: 0;
}

#infuseModal {
    position: fixed;
    z-index: 2;
}

.modal-overlay {
    position: fixed;
    display: flex;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 100px;
    width: 90%;
    background: #686868;
}
.modal-content.open-pack {
    height: 500px;
}
.modal-content.collection {
    height: 500px;
    width: 1000px;
}

.close-button {
    max-width: 100px;
}

#infuseBtn {
    font: inherit;
    cursor: pointer;
    width: 200px;
    margin: 50px 0 0 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: #53A264;
    border-radius: 9999px;
}

#cardStack {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 50px 0;
    height: 300px;
}

#infuseContent {
    display: flex;
}


.card-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: auto;
}

#infuseCards {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 200px;
    padding-left: 30px;
}

#infusePreview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    align-items: center;
}

#infuseSuccess {
    display: flex;
    justify-content: center;
}

.card-counter {
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.card {
    background-color: white;
    border: 1px solid gray;
    width: fit-content;
    width: 200px;
    height: 300px;
    touch-action: none;
    border-radius: 10px;
    user-select: none;
}

.card.smaller {
    width: 150px;
    height: 225px;
}

.card.small {
    width: 100px;
    height: 150px;
}

.card-headings h4{
    margin: 0;
}
.card-headings h5 {
    margin: 0;
    margin-bottom: 16px;
}

.selected-card {
    border: 1px solid gray;
    padding: 0 50px;
    height: 200px;
}

.card-attribute {
    font-size: 16px;
    list-style: none;
}

.card-description {
    font-size: 10px;
}

.login-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#playBtn {
    all: unset;
    font-size: 96px;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#playBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2); /* adjust for your opacity effect */
    transition: left 0.4s ease;
}

#playBtn:hover::before {
    left: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#openPackBtn {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: #53A264;
    border-radius: 9999px;
}
#openPackText {
    margin: 0 20px 0 20px;
    opacity: 1;
    font-size: 30px;
}

#openPackCountdown {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffce7a;
    font-size: 20px;
}

#homeButtons {
    display: flex;
}
#homeButtons button {
    font: inherit;
    cursor: pointer;
    margin: 5px;
    padding: 5px 12px 5px 12px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
}

#actionButtons {
    display: flex;
    flex-direction: column;
}
#actionButtons button {
    background-color: #53A264;
}

#collectionBtn {
    background-color: rgba(255,255,255, .7);
}

#filterBtn {
    margin-top: 20px;
    font: inherit;
    cursor: pointer;
    padding: 5px 12px 5px 12px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
    background-color: rgba(255,255,255, .7);
}

.view-buttons label {
    margin: 10px;
    padding: 10px;
    border-radius: 9999px;
    background-color: #629A6E;
    border: 2px solid rgba(255,255,255,.2);
}

.view-buttons label:has(input:checked) {
    opacity: .8;
}

.view-buttons input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.card-grid-container {
    height: 550px;
    overflow-y: scroll;
    margin-bottom: 50px;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-left: 50px;
}

#openPackView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#openPackBtn {
    display: flex;
    flex-direction: column;
    font: inherit;
    color: white;
    font-size: 42px;
    display: flex;
    padding: 40px 0 40px 0;
    justify-content: center;
}

#newCardStack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.new-card-wrapper {
    pointer-events: none;
    display: flex;
    position: absolute;
    align-items: center;
    height: 225px;
    width: 150px;
    justify-content: center;
}

.new-card {
    pointer-events: auto;
    position: absolute;
    cursor: pointer;
    height: 225px;
    width: 150px;
    backface-visibility: hidden;
    will-change: transform, opacity;
}

.done-container {
    display: flex;
    justify-content: center;
}

.done-button {
    border: 2px solid white;
    border-radius: 9999px;
    background-color: #53A264;
    font: inherit;
    color: white;
    width: 200px;
    font-size: 42px;
    padding: 40px 0 40px 0;
}

.done-button.grayed {
    background-color: rgba(0,0,0,0);
    opacity: .5;
    pointer-events: none;
}

.empty-card {
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    width: fit-content;
    width: 200px;
    height: 300px;
    touch-action: none;
    border-radius: 10px;
    user-select: none;
}

.collection-group {
    display: flex;
    overflow-x: scroll;
    overflow-y: clip;
}

.collection-title {
    font-size: 26px;
}