#signInForm {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
}

#signInForm input {
    all: unset;
    border: 2px solid rgba(0,0,0, .2);
    background-color: rgba(255,255,255,.4);
    color: rgba(255,255,255, .8);
    border-radius: 10px;
    font-size: 20px;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#signInForm input::placeholder {
    color: rgba(255,255,255, .4);
}

#formHeader {
    display: flex;
    justify-content: space-between;
}

.top-button {
    all: unset;
    cursor: pointer;
    color: rgba(255,255,255, .8);
}

.form-submit-btn {
    all: unset;
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: 600;
    color: rgba(255,255,255, .9);
}

.error-text {
    color: rgba(255, 0, 0, .8);
    margin-bottom: 0;
}

#infuseModal {
    position: fixed;
    z-index: 2;
}

.modal-overlay {
    position: fixed;
    display: flex;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 90%;
    background: white;
}

.close-button {
    max-width: 100px;
}

#infuseBtn {
    max-width: 100px;
}

#cardStack {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    height: 300px;
}


.card-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 400px;
    border: 1px solid gray;
    overflow-y: auto;
}

.card {
    background-color: white;
    border: 1px solid gray;
    width: fit-content;
    width: 200px;
    height: 300px;
    touch-action: none;
    border-radius: 10px;
    user-select: none;
}

.card-headings h4{
    margin: 0;
}
.card-headings h5 {
    margin: 0;
    margin-bottom: 16px;
}

.selected-card {
    border: 1px solid gray;
    padding: 0 50px;
    height: 200px;
}

.card-attribute {
    font-size: 16px;
    list-style: none;
}

.card-description {
    font-size: 10px;
}

.login-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#playBtn {
    all: unset;
    font-size: 96px;
    color: white;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

#playBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2); /* adjust for your opacity effect */
    transition: left 0.4s ease;
}

#playBtn:hover::before {
    left: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#openPackBtn {
    width: 200px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 255, 255, .4);
    background-color: #53A264;
    border-radius: 9999px;
}
#openPackText {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

#openPackCountdown {
    margin-top: 0;
    margin-bottom: 10px;
    color: #C48B21;
    font-size: 20px;
}

#homeButtons {
    display: flex;
}
#homeButtons button {
    font: inherit;
    cursor: pointer;
    margin: 5px;
    padding: 5px 12px 5px 12px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
}

#actionButtons {
    display: flex;
    flex-direction: column;
}
#actionButtons button {
    background-color: #53A264;
}

#collectionBtn {
    background-color: rgba(255,255,255, .7);
}

#filterBtn {
    margin-top: 20px;
    font: inherit;
    cursor: pointer;
    padding: 5px 12px 5px 12px;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, .4);
    border-radius: 10px;
    background-color: rgba(255,255,255, .7);
}

.view-buttons label {
    margin: 10px;
    padding: 10px;
    border-radius: 9999px;
    background-color: #629A6E;
    border: 2px solid rgba(255,255,255,.2);
}

.view-buttons label:has(input:checked) {
    opacity: .8;
}

.view-buttons input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

#cardGridContainer {
    height: 550px;
    overflow-y: scroll;
    margin-bottom: 50px;
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;}

#cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}